In [1]:
## pymysql, sqlalchemy, pandas, numpy, urllib, bs4
import sys
sys.executable

'C:\\Users\\user\\anaconda3\\python.exe'

In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text
from urllib.request import urlopen, urlretrieve
from bs4 import BeautifulSoup

In [3]:
engine = create_engine("mysql+pymysql://root:1234@localhost:3306/human")

In [4]:
conn = engine.connect()

In [5]:
stmt = """select * from test"""
pd.read_sql(stmt,conn)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'human.test' doesn't exist")
[SQL: select * from test]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
sql = """
insert into test(a,b) 
values('a1','b1') 
"""
stmt = text(sql)
conn.execute(stmt)
pd.read_sql("select * from test",conn)

In [ ]:
sql = """
select * 
  from information_schema.tables 
 where table_schema = 'human' 
"""
pd.read_sql(sql,conn)

In [6]:
### table_name nara
### public_no, public_name, page_url, public_price, predict_price
stmt = """
create table nara(
public_no varchar(30),
public_name varchar(50),
page_url varchar(255),
public_price varchar(10),
predict_price varchar(10)
)
"""
conn.execute(text(stmt))

OperationalError: (pymysql.err.OperationalError) (1050, "Table 'nara' already exists")
[SQL:
create table nara(
public_no varchar(30),
public_name varchar(50),
page_url varchar(255),
public_price varchar(10),
predict_price varchar(10)
)
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [7]:
stmt = """
select * 
  from information_schema.columns
 where table_name = 'nara'
"""
pd.read_sql(stmt,conn)

,TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,ORDINAL_POSITION,COLUMN_DEFAULT,IS_NULLABLE,DATA_TYPE,CHARACTER_MAXIMUM_LENGTH,CHARACTER_OCTET_LENGTH,...,DATETIME_PRECISION,CHARACTER_SET_NAME,COLLATION_NAME,COLUMN_TYPE,COLUMN_KEY,EXTRA,PRIVILEGES,COLUMN_COMMENT,IS_GENERATED,GENERATION_EXPRESSION
0,def,human,nara,public_no,1,NULL,YES,varchar,30,120,...,None,utf8mb4,utf8mb4_general_ci,varchar(30),,,"select,insert,update,references",,NEVER,None
1,def,human,nara,public__name,2,NULL,YES,varchar,50,200,...,None,utf8mb4,utf8mb4_general_ci,varchar(50),,,"select,insert,update,references",,NEVER,None
2,def,human,nara,page_url,3,NULL,YES,varchar,255,1020,...,None,utf8mb4,utf8mb4_general_ci,varchar(255),,,"select,insert,update,references",,NEVER,None
3,def,human,nara,public_price,4,NULL,YES,varchar,10,40,...,None,utf8mb4,utf8mb4_general_ci,varchar(10),,,"select,insert,update,references",,NEVER,None
4,def,human,nara,predict_price,5,NULL,YES,varchar,10,40,...,None,utf8mb4,utf8mb4_general_ci,varchar(10),,,"select,insert,update,references",,NEVER,None

In [8]:
dt = {'public_no':'aaaa','public_name':'dfafda','page_url':'https://'}

In [9]:
def insert_nara(dt):
    sql = "insert into nara(public_no,public_name,page_url)"
    sql += f" values('{dt['public_no']}', '{dt['public_name']}', '{dt['page_url']}')"
    conn.execute(text(sql))
    return pd.read_sql(f"select * from nara where public_no='{dt['public_no']}'",conn)

In [10]:
insert_nara(dt)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'public_name' in 'field list'")
[SQL: insert into nara(public_no,public_name,page_url) values('aaaa', 'dfafda', 'https://')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
def